@import url("https://fonts.googleapis.com/css?family=Roboto:100,100i,300,300i,400,400i,500,500i,700,700i,900,900i");
@import url("https://fonts.googleapis.com/css?family=Jaldi:400,700");
.theme__section-header {
  font-family: "Roboto", sans-serif;
  color: #333333;
  font-weight: 700; }
  @media (min-width: 769px) {
    .theme__section-header {
      font-size: 2.5em; } }
  @media (min-width: 992px) {
    .theme__section-header {
      font-size: 3.5em; } }

.theme__section-subheader {
  color: #6B6A6A; }

.page-not-found {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center; }
  .page-not-found .four-o-four {
    padding-top: 5%;
    padding-bottom: 5vh;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr; }
    .page-not-found .four-o-four img {
      margin-left: auto;
      margin-right: auto;
      height: 75vh; }
    .page-not-found .four-o-four .four {
      text-align: center;
      color: #01807B;
      font-family: "Jaldi";
      font-weight: 900;
      font-size: 75vh;
      margin: auto;
      line-height: 0.75; }
  .page-not-found p {
    text-align: center;
    color: #333333;
    font-family: "Jaldi";
    font-weight: 900;
    font-size: 5vw; }
  @media (max-width: 576px) {
    .page-not-found .four-o-four {
      padding: 0; }
      .page-not-found .four-o-four img {
        height: 30vh; }
      .page-not-found .four-o-four .four {
        font-size: 30vh; }
    .page-not-found p {
      font-size: 10vw;
      padding-top: 5%; } }
