@import url("https://fonts.googleapis.com/css?family=Lato:100,100i,300,300i,400,400i,700,700i,900,900i");
@import url("https://fonts.googleapis.com/css?family=Jaldi:400,700");
.theme__section-header {
  font-family: "Lato";
  color: #333333;
  font-size: 2em;
  font-weight: 700; }
  @media (min-width: 768px) {
    .theme__section-header {
      font-size: 3em; } }
  @media (min-width: 992px) {
    .theme__section-header {
      font-size: 4em; } }

.theme__section-subheader {
  color: #5C5C5C; }

.navigation-bar .navbar {
  background-color: #333333; }

.navigation-bar .navbar-toggler {
  border-color: #2FB1AE; }

.navigation-bar .navbar-toggler-icon {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(47,177,174, 0.7)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E"); }

.nav-item span {
  color: #676767;
  font-size: 1.4em; }
