@import url("https://fonts.googleapis.com/css?family=Lato:100,100i,300,300i,400,400i,700,700i,900,900i");
@import url("https://fonts.googleapis.com/css?family=Jaldi:400,700");
.theme__section-header {
  font-family: "Lato";
  color: #333333;
  font-size: 2em;
  font-weight: 700; }
  @media (min-width: 768px) {
    .theme__section-header {
      font-size: 3em; } }
  @media (min-width: 992px) {
    .theme__section-header {
      font-size: 4em; } }

.theme__section-subheader {
  color: #6B6A6A; }

.acknowledgement {
  padding: 5% 10%;
  text-align: justify; }
  @media (max-width: 576px) {
    .acknowledgement {
      min-height: 100vh; } }

.advisor-profile-cell img {
  display: block;
  margin-left: auto;
  margin-right: auto; }

.advisor-profile-cell h3 {
  text-align: center;
  font-family: "Lato";
  font-weight: 700;
  color: #333333; }

.advisor-profile-cell h5 {
  text-align: center;
  font-family: "Lato";
  color: #6B6A6A; }

.advisors {
  padding-top: 0;
  padding-bottom: 5%;
  padding-left: 10%;
  padding-right: 10%; }
  .advisors .display-cell {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between; }
    @media (max-width: 576px) {
      .advisors .display-cell {
        flex-direction: column; } }

.developer-profile-section {
  display: grid;
  grid-template-columns: 1fr 1fr;
  padding: 5% 10%;
  min-height: 100vh;
  min-width: 100vw; }
  .developer-profile-section .left {
    display: flex;
    flex-direction: column; }
    .developer-profile-section .left img {
      width: 75%;
      height: auto; }
    .developer-profile-section .left .social-media {
      display: flex;
      flex-direction: row;
      justify-content: flex-start; }
      .developer-profile-section .left .social-media .button {
        padding-right: 1px; }
  .developer-profile-section .right {
    display: flex;
    flex-direction: column; }
    .developer-profile-section .right h1 {
      color: #333333;
      font-family: "Lato";
      font-weight: 700; }
    .developer-profile-section .right h4 {
      color: #6B6A6A; }
    .developer-profile-section .right p {
      text-align: justify; }
  @media (max-width: 768px) {
    .developer-profile-section {
      grid-template-columns: 1fr;
      grid-template-rows: 0.5fr 1fr;
      padding-left: 0;
      padding-right: 0; }
      .developer-profile-section .left img {
        width: 100vw; }
      .developer-profile-section .right {
        justify-content: flex-start;
        padding-left: 2%;
        padding-right: 2%; } }
