@import "commons/theme/styles/theme";

.home-banner {
  background-image: url(../../../assets/banner/binary_girl.png);
  height:100vh;
  width: auto;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}
