@import "commons/theme/styles/theme";

.home-banner {
  background-image: url(../../../assets/banner/gradient_green.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: center;
  height:100vh;
  width: auto;
  padding: 0 $PADDING_LEFT;

  .left {
    img {
      width: 100%;
    }
  }

  .right {
    .text {
      font-family: $FONT_FORMAL;
      text-align: right;

      .desc-top {
        font-size: $FONT_SIZE_H2;
        color: $COLOR_BRAND_DARK_GREY;
        font-weight: $FONT_WEIGHT_BOLD;
      }

      .desc-middle {
        font-size: 2.5em;
        font-weight: $FONT_WEIGHT_BLACK;
        color: $COLOR_BRAND_DARK_GREEN;
      }

      .desc-bottom {
        font-size: $FONT_SIZE_H3;
        font-weight: $FONT_WEIGHT_BOLD;
        span {
          font-style: italic;
        }
      }
    }

    .button-area {
      margin-top: 5%;
      float: right;
    }
  }

  @include breakpoint(xs) {
    padding: 0;
    .left {
      // opacity: 0.7;
      transform: translateX(-150%);

      img {
        width: 300%;
        max-height: 100vh;
      }
    }

    .right {
      z-index: 2;
      .text {
        .desc-top {
          font-size: $FONT_SIZE_H3;
        }

        .desc-middle {
          font-size: $FONT_SIZE_H1;
        }

        .desc-bottom {
          font-size: $FONT_SIZE_H5;
        }
      }

      .button-area {
        visibility: hidden;
      }
    }
  }
}

.member-section {
  display: grid;
  grid-template-areas:
    "title title title"
    "a b c"
    "d e f";
  grid-gap: 0;
  justify-content: center;
  padding-top:$PADDING_TOP;
  padding-bottom: $PADDING_BOTTOM;
  min-height: 100vh;

  h1 {
    grid-area: title;
    color: $COLOR_BRAND_DARK_GREY;
    font-family: $FONT_CASUAL;
    font-weight: $FONT_WEIGHT_BOLD;
    font-size: 5em;
    text-align: center;
    margin: auto;
    padding-bottom: 5%;
  }

  .member-cell {
  }

  @include breakpoint(xs) {
    grid-template-areas: "title" "a" "b" "c" "d" "e" "f";
    padding-bottom: 0;

    h1 {
      font-size: 4em;
    }

    .member-cell {
      img {
        width: 100vw;
      }
    }
  }
}
