@import "commons/theme/styles/theme";

.project-header {
  display: grid;
  grid-template-columns: 1fr 1fr;
  padding: $PADDING_TOP $PADDING_LEFT;
  background-color: $COLOR_BRAND_FAINT_GREY;

  img {
    width: 100%;
    height: auto;
    display: block;
    margin-top: auto;
    margin-bottom: auto;
  }

  .right {
    display: flex;
    flex-direction: column;
    justify-content: center;

    h2 {
      color: $COLOR_BRAND_BLACK;
      font-family: $FONT_FORMAL;
      font-weight: $FONT_WEIGHT_BOLD;
    }

    h5 {
      color: $COLOR_BRAND_DARK_GREY;
    }
  }

  @include breakpoint(sm) {
    display: flex;
    flex-direction: column;

    img {
      width: 100%;
    }

    .right {
      align-items: center;
      text-align: center;
    }
  }
}

.project-summary {
  padding: $PADDING_TOP $PADDING_LEFT;
}
