@import "commons/theme/styles/theme";

.project-header {
  display: grid;
  grid-template-columns: 1fr 1fr;
  padding: $PADDING_TOP $PADDING_LEFT;

  img {
    width: 90%;
    height: auto;
  }

  .right {
    display: flex;
    flex-direction: column;
    justify-content: center;

    h2 {
      color: $COLOR_BRAND_BLACK;
      font-family: $FONT_FORMAL;
      font-weight: $FONT_WEIGHT_BOLD;
    }

    h5 {
      color: $COLOR_BRAND_DARK_GREY;
    }
  }

  @include breakpoint(sm) {
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr;
  }
}

.project-summary {
  padding: $PADDING_TOP $PADDING_LEFT;
}
