@import "commons/theme/styles/theme";

.footer {
  height: 50px;
  background-color: $COLOR_BRAND_DARK_GREY;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  p {
    color: white;
    font-size: 0.5em;
    text-align: center;
    margin: auto;
  }
}
